<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="details" method="post">
		{% csrf_token%}
		<input type="radio" name="search_radio" value="search_name" checked="true">
		<label>Search by Name:</label>
		<input type="radio" name="search_radio" value="search_subject"> 
		<label>Search by Subject:</label>
		<br>
		<input type="text" name="search_value">
		<input type="submit">
		<br>
		{% if teachers_details %}
			<div>
				<table border="1" id="details_table">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Profile Picture</th>
						<th>Email Address</th>
						<th>Phone Number</th>
						<th>Room Number</th>
						<th>Subject</th>

					</tr>
					{% for details in teachers_details %}
						<tr>
							<td>{{details.first_name}}</td>
							<td>{{details.last_name}}</td>
							<td><img src="{{details.profile_picture.url}}" width="35" height="35"></td>
							<td>{{details.email_address}}</td>
							<td>{{details.phone_number}}</td>
							<td>{{details.room_number}}</td>
							<td>{{details.subjects_taught}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
			<label> No Data found</label>
		{% endif %}
	</form>
</body>
</html>




