<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="topnav">
	  <a class="active" href="home">Home</a>
	  <a href="logout">Logout</a>
	</div>
	<br><br>
	<div>
		<form action="upload", method= "post" enctype="multipart/form-data">
			{% csrf_token %}
			Uploadfile: <input type="file" name="file" id="mydocs">
			<br>
			<br>
			<input type="submit">

		</form>
	</div>

</body>
</html>

<style>

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>