<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<form action="login" method="post">
			{% csrf_token %}
			<label>User Name:</label>
			<input type="text" name="user_name">
			<br>
			<label>Password:</label>
			<input type="password" name="password1">
			<br>
			<input type="submit">
		</form>
		

</body>
</html>
